DB_USER=postgres
DB_PASSWORD=root
DB_HOST=localhost
DB_PORT=5432
DB_NAME=postgres
DB_URL="postgresql://${DB_USER}:${DB_PASSWORD}@${DB_HOST}:${DB_PORT}/${DB_NAME}"

AUTH_SERVICE_PORT=your_port
AUTH_SERVICE_URL="http://domaine:${AUTH_SERVICE_PORT}"

API_PORT=your_port
API_URL="http://domaine:${API_PORT}"

WEB_SERVICE_AUTHENTIFICATION_PORT=your_port
WEB_SERVICE_AUTHENTIFICATION_URL="http://domaine:${WEB_SERVICE_AUTHENTIFICATION_PORT}"
# WEB_SERVICE_AUTHENTIFICATION_URL_EMAIL="http://localhost:${WEB_SERVICE_AUTHENTIFICATION_PORT}"

# You can use this page to generate it https://www.better-auth.com/docs/installation#set-environment-variables
BETTER_AUTH_SECRET=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX

# You can create a free account and get an API key at https://resend.com
RESEND_API_KEY=re_XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX