DB_USER=postgres
DB_PASSWORD=root
DB_HOST=localhost
DB_PORT=5432
DB_NAME=postgres
DB_URL="postgresql://${DB_USER}:${DB_PASSWORD}@${DB_HOST}:${DB_PORT}/${DB_NAME}"

AUTH_SERVICE_PORT=3333
AUTH_SERVICE_URL="http://localhost:${AUTH_SERVICE_PORT}"

API_PORT=8000
API_URL="http://localhost:${API_PORT}"

# You can use this page to generate it https://www.better-auth.com/docs/installation#set-environment-variables
BETTER_AUTH_SECRET=FkpqvGPyBIEX3laYzcfXl9h1IMNNsb27
X